[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.2.2"
coverage = "==4.5.2"
coveralls = "==1.5.1"

[packages]
google-api-python-client = "*"
oauth2client = "*"
pandas = "*"

[requires]
python_version = "3.7"
